{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>
    {% block img %}
    <img src="/src/img/eque.jpg" alt="equa"/>
    {% endblock %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.Nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lieu.Description }}</td>
            </tr>

            <tr>
                <th>image</th>
                {% if  lieu.Nom  == "Guatemala" %}
                <td> <img src="{{ asset('img/guatemala.jpg')}}" alt="guatemala"/> </td>
                {% endif %}
            </tr>

        </tbody>
    </table>

    <a href="{{ path('lieu_index') }}">back to list</a>

    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">edit</a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
